@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");
.header {
  margin-bottom: 5.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4vh 0;
  width: 100%;
  max-height: 70px;
  min-height: 50px;
  position: relative;
}
.header.show {
  background-color: black;
}
.header .logo {
  display: flex;
  align-items: center;
  color: #F0EEEF;
  text-decoration: none;
  max-height: 75px;
  min-height: 50px;
  margin-left: 20px;
  max-width: 75%;
  flex: 0.5 2 23%;
  font-variant: small-caps;
  cursor: default;
}
@media (max-width: 570px) {
  .header .logo {
    display: flex;
    flex: 1.5 1 30%;
    margin-left: 1.25vh;
  }
}
.header .logo .brand-text {
  cursor: pointer;
  font-size: 50px;
}
@media (max-width: 570px) {
  .header .logo .brand-text {
    font-size: 33px;
  }
}
.header .nav-container {
  display: flex;
  flex: 0.3 0 20%;
}
@media (max-width: 570px) {
  .header .nav-container {
    display: none;
  }
  .header .nav-container.show {
    display: flex;
    width: 100%;
    position: absolute;
    background-color: black;
    top: 100%;
  }
  .header .nav-container.show .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .header .nav-container.show .nav-menu .nav-item {
    padding: 3.5vh 0;
    border-bottom: 1.5px solid gold;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 18px;
  }
}
.header .nav-container .nav-menu {
  list-style: none;
  margin: 7px 0;
  padding: 0 0;
  display: flex;
  justify-content: space-around;
  flex: 1.25 0.5 15%;
}
.header .nav-container .nav-menu .nav-item {
  display: flex;
  margin: 0 18px;
  flex: 0 0 auto;
  font-size: 25px;
}
.header .nav-container .nav-menu .nav-item a {
  color: #F0EEEF;
  text-decoration: none;
}
.header .hmbgr-menu {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 9px;
  height: 65px;
  width: 60px;
  padding: 2px 0;
  margin-right: 5px;
  flex: 0 0 auto;
  cursor: pointer;
}
.header .hmbgr-menu .menu-line {
  display: flex;
  background-color: #F0EEEF;
  height: 3px;
  width: 70%;
}
.header .hmbgr-menu #line1, .header .hmbgr-menu #line3 {
  width: 15%;
}
.header .hmbgr-menu #line1 {
  align-self: flex-start;
}
.header .hmbgr-menu #line3 {
  align-self: flex-end;
}
@media (min-width: 571px) {
  .header .hmbgr-menu {
    display: none;
  }
}
.header .hmbgr-menu:hover #line1 {
  transform: translateX(100%);
}
.header .hmbgr-menu:hover #line3 {
  transform: translateX(-100%);
}
.header #line1, .header #line3 {
  transition: 0.3s ease-in-out;
}

footer {
  background-color: #637489;
  display: flex;
  flex-direction: column;
  color: #090909;
  align-items: center;
  padding-bottom: 3px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
footer .socialm-container {
  text-align: center;
  padding: 1vh 0;
  max-height: 23vh;
}
footer .socialm-container p {
  margin: 8px 0;
  font-size: 17px;
}
footer .socialm-container .socialm-content {
  color: #a3a3a3;
  text-decoration-line: none;
}
footer .socialm-container .socialm-content p {
  font-size: 13.5px;
  margin: 2px 0;
}
footer .socialm-container .socialm-content p:hover {
  color: #ffd700;
  transition: all 0.3s ease-out;
}
footer .socialm-container .socialm-content p .ig-icon, footer .socialm-container .socialm-content p .twt-icon, footer .socialm-container .socialm-content p .fb-icon {
  font-size: 2.9vh;
}
footer .footer-text {
  font-size: 2.5vh;
}

*#bg-img {
  background: url("../images/background.jpg");
  background-attachment: fixed;
  background-size: cover;
}
*#bg-img:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(52, 110, 184, 0.3);
}

body {
  background-color: #303030;
  min-height: 100vh;
}
body .main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .main-content h3 {
  margin: 0;
  font-weight: 500;
}
body .main-content h3.sm-heading {
  min-height: 20vh;
  font-size: 4.5vh;
  text-align: center;
  color: #F0EEEF;
}
body .main-content h3.sm-heading span {
  font-variant: small-caps;
  font-size: 7vh;
  margin: 0;
  padding: 0;
}
body .main-content subtitle {
  font-size: 2.5vh;
  color: #88bbfd;
}
body .main-content .text-slide-numbers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
body .main-content .text-slide-numbers label {
  cursor: pointer;
  color: lightgray;
  margin: 0 2vh;
  font-size: 3.3vh;
  margin-top: 3vh;
}
body .main-content .text-slide-numbers label#icon1 {
  color: #ffd700;
}
body .main-content .main-cta {
  background: #ffd700;
  padding: 2vh 3vh;
  font-size: 3vh;
  font-weight: bold;
  padding: 12px 25px;
  margin: 10vh 0;
  border: none;
  border-radius: 9px;
}
body .main-content .main-cta a {
  color: #090909;
}
body main {
  flex: 1;
}
body .subscribe-content {
  margin: 3vh 0;
  cursor: default;
}
body .subscribe-content p {
  color: #F0EEEF;
  margin: 1vh;
  font-size: 2.25vh;
}
body .subscribe-content .sub-input-box {
  cursor: text;
  display: flex;
  justify-content: space-between;
  padding: 1vh;
  font-size: 2.75vh;
  background-color: #F0EEEF;
  color: #969696;
}

/* MEDIA QUERY TO TARGET ASPECT RATIO; FOR KINDLE
 FIRE HDX-LIKE DEVICES */
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1vh 2vh;
  color: #F0EEEF;
}
.about-container .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.about-container .heading h1 {
  margin-bottom: 0.5vh;
  font-size: 5.75vh;
  margin-top: 0;
}
.about-container .heading p {
  margin-top: 0;
  font-size: 2.5vh;
  color: #ffd700;
  text-align: center;
}
.about-container .ab-description {
  margin: 0 0.5vh;
  line-height: 2.75vh;
  color: #F0EEEF;
  font-size: 3vh;
  line-height: 110%;
  min-width: 65%;
  max-width: 95%;
  width: 100%;
}

.team-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #232323;
  margin-top: 7vh;
  margin-bottom: 3vh;
}
.team-content h1 {
  color: #F0EEEF;
  text-align: center;
}
.team-content .member {
  display: flex;
  align-items: center;
  background-color: #a1bee4;
  width: 90%;
  height: 150px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.team-content .member .img-wrap {
  display: flex;
  flex: 0 0 25%;
  align-items: center;
  justify-content: center;
  background-color: #4a4a4a;
  margin-right: 1vh;
  width: 65px;
  height: 100%;
  position: relative;
}
.team-content .member .img-wrap .img {
  width: 95%;
  height: 55px;
  background-color: #0028ff;
  border-radius: 9px;
  cursor: pointer;
}
.team-content .member .name {
  display: flex;
  align-items: center;
  font-size: 25px;
  background-color: #f7ad4b;
  height: 90%;
  max-width: inherit;
  width: 100%;
  position: sticky;
  white-space: nowrap;
  animation: fadeIn 1s ease;
}
.team-content .member #name1.disappear, .team-content .member #name2.disappear, .team-content .member #name3.disappear {
  animation: disappear 1s ease forwards;
}
.team-content .member #name1.reveal, .team-content .member #name2.reveal, .team-content .member #name3.reveal {
  animation: disappear 1s ease backwards;
}
.team-content .member .description-wrap {
  width: 0%;
  display: flex;
  align-items: center;
}
.team-content .member .description-wrap .description {
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  font-size: 2.95vh;
  display: flex;
  align-items: center;
}
.team-content .member #dw1.show, .team-content .member #dw2.show, .team-content .member #dw3.show {
  animation: showDescription 2.25s ease forwards;
}
.team-content .member #dw1.hide, .team-content .member #dw2.hide, .team-content .member #dw3.hide {
  animation: showDescription 2s ease backwards;
}

@keyframes disappear {
  100% {
    width: 0;
    color: rgba(0, 0, 0, 0);
    left: 0;
  }
}
@keyframes showDescription {
  0% {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    opacity: 0;
  }
  25% {
    opacity: 0;
    width: 75%;
    height: 100%;
  }
  100% {
    opacity: 1;
    width: 75%;
    height: 100%;
    top: 0;
    position: absolute;
    right: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 770px) and (min-height: 625px) {
  .about-container .heading h1 {
    font-size: 6.25vh;
  }
  .about-container .heading p {
    font-size: 2.75vh;
  }
  .about-container .ab-description {
    min-width: 65%;
    max-width: 90%;
    width: 100%;
    padding: 0 3vh;
  }
  .about-container .ab-description p {
    text-align: center;
    font-size: 3vh;
    line-height: 105%;
  }
}
@media (min-width: 900px) and (min-height: 600px), (orientation: landscape) {
  .team-content {
    background-color: #824469;
    flex-direction: column;
  }
  .team-content h1 {
    width: 100%;
  }
  .team-content .desktop-wrap {
    display: flex;
    background-color: #122741;
    justify-content: space-evenly;
  }
  .team-content .desktop-wrap .member {
    margin: 3%;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 55vh;
    background-color: #090909;
  }
  .team-content .desktop-wrap .member .img-wrap {
    background-color: #637489;
    width: 90%;
    margin: 1vh 0;
    padding: 0.75vh;
  }
  .team-content .desktop-wrap .member .img-wrap .img {
    border-radius: 9px;
    margin: 0;
    height: 100%;
    width: 60%;
    cursor: default;
    border: 2px solid #090909;
  }
  .team-content .desktop-wrap .member .name {
    display: flex;
    justify-content: center;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 2.25vh;
    height: fit-content;
    cursor: default;
    background-color: #F0EEEF;
  }
  .team-content .desktop-wrap .member .description-wrap {
    display: flex;
    align-items: flex-start;
    background-color: #ebd147;
    width: 100%;
    height: max-content;
    padding: 5%;
    margin: 0;
  }
  .team-content .desktop-wrap .member .description-wrap .description {
    font-size: 2.25vw;
  }
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0 0;
  font-family: "Chelsea Market", cursive;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: "Chelsea Market", cursive;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: "Chelsea Market", cursive;
  /* 1 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*# sourceMappingURL=main.css.map */
