// @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$white: #F0EEEF;
$blue: #346EB8;
$red: #CF1919;
$gold: #ffd700;
// $gold: #DFB126;
$black: #090909;
$drkgray: #636363;
$ltgray: #BBBBBB;

$show-bg-img: true;
$bg-img: url(/images/background.jpg);
$bg-opacity: .9;
$border-r: 9px




// $font: 'Montserrat';
// :export {
//     white: $white;
//     blue: $blue;
//     red: $red;
// }