@use '../variables' as c;

@mixin easeOut {
    transition: all .3s ease-out;
}

footer {
    // background-color: complement($color: c.$blue);
    background-color:desaturate($color: c.$blue, $amount: 40);
    display: flex;
    flex-direction: column;
    color: c.$black;
    align-items: center;
    padding-bottom: 3px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    // min-height: 21vh;

    .socialm-container {
        text-align: center;
        padding: 1vh 0;
        max-height: 23vh;

        // title/heading
        p {
            margin: 8px 0;
            font-size: 17px;
        }

        .socialm-content {
            color: lighten($color: c.$drkgray, $amount: 25);
            text-decoration-line: none;
                
            // Social links/text
            p {
                font-size: 13.5px;
                margin: 2px 0;
                            
                &:hover {
                    color: c.$gold;
                    @include easeOut();
                }
            
                .ig-icon, .twt-icon, .fb-icon {
                    font-size: 2.9vh;
                }
            }


        }
    }

    // copyright
    .footer-text {
        font-size: 2.5vh;
    }
}