@use '../globals/colors' as c;
@use '../globals/variables' as v;
@use '../globals/mixins' as mx;
// APPLY MIXINS

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vh 2vh;
    color: c.$white;
    .heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h1 {
            margin-bottom: .5vh;
            font-size: 5vh;
        }
        p {
            margin-top: 0;
            font-size: 2.5vh;
            color: c.$gold;
            text-align: left;
        }
    }
    .ab-description {
        margin: 0 .5vh;
        line-height: 2.75vh;
        color: c.$white;
        font-size: 3vh;
        line-height: 110%;
        // background-color: lightcoral;
        min-width: 65%;
        max-width: 95%;
        width: 100%;
    }
}
.team-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lighten($color: c.$black, $amount: 10);
    margin-top: 7vh;
    margin-bottom: 3vh;

    h1 {
        color: c.$white;
        text-align: center;
    }
    .team-members {
        display: flex;
        flex-direction: column;
        margin-bottom: 3vh;
        padding: 2vh 0;
        align-items: stretch;
        width: 80%;
        #member1, #member2, #member3 {
            display: flex;
            align-items: center;
            background-color:plum ;
            .picture-icon {
                height: 55px;
                width: 65px;
                border-radius: 22px;
                margin: 2vh 1.5vh;
                background-color: lighten($color: c.$ltgray, $amount: 10);
            }

            .member-name {
                // background-color: complement($color: c.$gold);
                padding: 1vh 1.75vh;
                border-radius: 1vh;
                cursor: pointer;
                display: flex;
                color: c.$white;
                font-size: 3.75vh;
            }
            // description placement hidden behind name
            // when clicked, slide animation
            // reveals description
            .member-description {
                z-index: -1;
                display: none;
            }
        }
        #member1 {
            transition: transform 1s ease-in;
        }
    }
}
// intergret js functionality to have description appear
.team-content:hover #member1 {
    animation: shorten-width 1s ease-in forwards;
}
@keyframes shorten-width {
    100% {
        rotate: 360deg;
        background-color: royalblue;
        margin-right: 60%;
    }
}


// larger about description text for larger screens
@media (min-width: 770px) and (min-height: 625px) {
    .about-container {
        .heading {

            h1 {
                font-size: 6.25vh;
            }
            p {
                font-size: 2.75vh;
            }
        }
        .ab-description {
            min-width: 65%;
            max-width: 90%;
            width: 100%;
            // background-color: lightseagreen;
            padding: 0 3vh;
            p {
                text-align: center;
                font-size: 3vh;
                line-height: 105%;
            }
        }

    }
}
@media (min-width: 900px) and (min-height: 600px),(orientation: landscape) {
    .team-content { //content container
        background-color: c.$drkgray;

        .team-members { //members container
            // background-color: c.$blue;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            max-width: 95%;
            min-width: 65%;
            width: 100%;
            min-height: 50vh;
            max-height: 60vh;

            // individual member container
            #member1, #member2, #member3 {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                background-color: desaturate($color: c.$gold, $amount: 55);
                max-width: 50vh;
                max-height: 90%;
                border-radius: v.$border-r;

                .member-name {
                    margin: 0;
                   padding: 0;
                }
                .member-description {
                    padding: 0 8px;
                    font-size: 3vh;
                    text-align: center;
                }
            }
        }
    }
}
