@use '../globals/colors' as c;
@use '../globals/variables' as v;
@use '../globals/mixins' as mx;
// APPLY MIXINS

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vh 2vh;
    color: c.$white;
    .heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h1 {
            margin-bottom: .5vh;
            font-size: 5vh;
        }
        p {
            margin-top: 0;
            font-size: 2.5vh;
            color: c.$gold;
            text-align: left;
        }
    }
    .ab-description {
        margin: 0 .5vh;
        line-height: 2.75vh;
        color: c.$white;
        font-size: 3vh;
        line-height: 110%;
        // background-color: lightcoral;
        min-width: 65%;
        max-width: 95%;
        width: 100%;
    }
}
.team-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lighten($color: c.$black, $amount: 10);
    margin-top: 7vh;
    margin-bottom: 3vh;

    h1 {
        color: c.$white;
        text-align: center;
    }

    .member {
        display: flex;
        align-items: center;
        // justify-content: center;
        background-color: desaturate($color: c.$gold, $amount: 45);
        width: 80%;
        height: 150px;
        position: relative;
        margin-bottom: 20px;

        .img-wrap {
            display: flex;
            flex: 0 0 auto;
            align-items: center;
            justify-content: center;
            background-color: c.$ltgray;
            margin-right: 1vh;
            width: 65px;
            height: 100%;
            position: relative;
            .img {
                width: 95%;
                height: 55px;
                background-color: c.$blue;
                border-radius: v.$border-r;
                cursor: pointer;
            }
        }
        .name {
            display: flex;
            align-items: center;
            font-size: 25px;
            background-color:desaturate($color: c.$red, $amount: 40);
            // cursor: pointer;
            height: 90%;
            max-width:inherit;
            width: 100%;
            position: sticky;
            white-space: nowrap;
            animation: fadeIn 1s ease;
        }
        #name1, #name2, #name3 {
            &.disappear {
                animation: disappear 1s ease forwards;
            }
            &.reveal {
                animation: disappear 1s ease backwards;
            }
        }
        // default hidden, vertically aligned center
        .description-wrap {
            width: 0%;
            display: flex;
            align-items: center;
            .description {
                text-align: center;
                margin: 0;
                overflow: hidden;
                // background-color:c.$drkgray;
            }
        }
        #dw1, #dw2, #dw3 {
            &.show {
                animation: showDescription 2.25s ease forwards;
            }
            &.hide {
                animation: showDescription 2s ease backwards;
            }
        }
    }
}
@keyframes disappear {
    100% {
        width: 0;
        color: rgba(0, 0, 0, 0);
        left: 0;
    }
}
@keyframes showDescription {
    0% {
        position: absolute;
        right: 0;
        top: 0;
        width: 0;
        height: 100%;
        opacity: 0;
    }
    25% {
        opacity: 0;
        width: 75%;
        height: 100%;
    }
    100% {
        opacity: 1;
        width: 75%;
        height: 100%;
        top: 0;
        position: absolute;
        right: 0;        // display: inline;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// larger about description text for larger screens
@media (min-width: 770px) and (min-height: 625px) {
    .about-container {
        .heading {

            h1 {
                font-size: 6.25vh;
            }
            p {
                font-size: 2.75vh;
            }
        }
        .ab-description {
            min-width: 65%;
            max-width: 90%;
            width: 100%;
            // background-color: lightseagreen;
            padding: 0 3vh;
            p {
                text-align: center;
                font-size: 3vh;
                line-height: 105%;
            }
        }

    }
}
@media (min-width: 900px) and (min-height: 600px),(orientation: landscape) {
    .team-content { //content container
        background-color: c.$drkgray;

        .team-members { //members container
            // background-color: c.$blue;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            max-width: 95%;
            min-width: 65%;
            width: 100%;
            min-height: 50vh;
            max-height: 60vh;

            // individual member container
            #member1, #member2, #member3 {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                background-color: desaturate($color: c.$gold, $amount: 55);
                max-width: 50vh;
                max-height: 90%;
                border-radius: v.$border-r;

                .member-name {
                    margin: 0;
                   padding: 0;
                }
                .member-description {
                    padding: 0 8px;
                    font-size: 3vh;
                    text-align: center;
                }
            }
        }
    }
}
