@use '../variables' as c;

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vh 2vh;
    color: c.$white;
    .heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h1 {
            margin-bottom: .5vh;
            font-size: 5vh;
        }
        p {
            margin-top: 0;
            font-size: 2.5vh;
            color: c.$gold;
            text-align: left;
        }
    }
    .ab-description {
        margin: 0 .5vh;
        line-height: 2.75vh;
        color: c.$white;
        font-size: 3vh;
        line-height: 110%;
        // background-color: lightcoral;
        min-width: 65%;
        max-width: 95%;
        width: 100%;
    }
}
.team-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lighten($color: c.$black, $amount: 20);
    margin-top: 7vh;
    margin-bottom: 3vh;

    h1 {
        color: c.$white;
        text-align: center;
    }
    .team-members {
        display: flex;
        flex-direction: column;
        margin-bottom: 3vh;
        padding: 2vh 0;
        align-items: flex-start;
        width: 80%;
        .member1, .member2, .member3 {
            display: flex;
            flex-direction: row;
            align-items: center;
            .picture-icon {
                height: 10vh;
                width: 12vh;
                border-radius: 4.5vh;
                margin: 2vh 1.5vh;
                background-color: c.$ltgray;
            }

            .member-name {
                // background-color: complement($color: c.$gold);
                padding: 1vh 1.75vh;
                border-radius: 1vh;
                cursor: pointer;
                display: flex;
                color: c.$white;
                font-size: 3.75vh;
            }
        }
    }
}
// larger about description text for larger screens
@media (min-width: 770px) and (min-height: 625px) {
    .about-container {
        .heading {

            h1 {
                font-size: 6.25vh;
            }
            p {
                font-size: 2.75vh;
            }
        }
        .ab-description {
            min-width: 65%;
            max-width: 90%;
            width: 100%;
            // background-color: lightseagreen;
            padding: 0 3vh;
            p {
                text-align: center;
                font-size: 3vh;
                line-height: 105%;
            }
        }

    }
}
/* MEDIA QUERY TO TARGET ASPECT RATIO; FOR KINDLE
 FIRE HDX-LIKE DEVICES */
