@use '../globals/colors' as c;
@use '../globals/variables' as v;


.contact-main {
    display: flex;
    flex-direction: column;
    color: c.$white;
    background-color: rgba(0, 0, 0, 0.575);
    width: 100%;
    margin-bottom: 5%;


    .heading-text {
        // background-color: orange;
        margin-left: 3%;
        h3 {
            margin-top: 0;

            @media (min-width: 525px) {
                margin-top: 15px;
            }
        }
        .cta-text {
            margin-bottom: 5vh;
            font-size: 26px;

            @media (min-width: 525px) {
                font-size: 5.7vh;
                line-height: 5.15vh;
                margin-top: 0;
            }
        }

        // page heading text
        // padding L/R increases when screen width >= 400px
        @media (min-width: 400px) {
            padding: 0 5%;
        }
        @media (min-width: 570px) {
            line-height: .3;
        }
    }
    .form {
        margin-bottom: 30px;
        .input-header-text {
            margin: 0 0 1% 7%;
            font-size: 16px;

            // input field heading text
            // font size set to 20px when screen width >= 500px
            @media (min-width: 500px) {
                font-size: 20px;
            }
            // padding L/R increases when screen width >= 500px
            @media (min-width: 525px) {
                padding: 0 8%;
            }
            @media (min-width: 570px) {
                display: flex;
                flex-wrap: nowrap;
                padding: 0 0;
                position: relative;
                bottom: 0;
                max-width: fit-content;
            }
        }
        .input-container {
            display: flex;
            justify-content: center;
            // background-color: c.$red;
            
            input {
                width: 85%;
                height: 50px;
                margin-bottom: 25px;
                border-radius: 10px;
            
                // input fields
                // width set to 375px when screen width >= 525px
                @media (min-width: 525px) {
                    display: flex;
                    width: 375px;;
                    // background-color: coral;
                }
                @media (min-width: 570px) {
                    position: sticky;
                }
            
            }
            #message-input {
                border-radius: 10px;

                // message input field
                // width set to 425px when screen width >= 660px
                @media (min-width: 660px) {
                    width: 425px;
                    // background-color: cornflowerblue;
                }
            }
        }
        #checkbox-wrap {
            margin: 3% 0 3% 2%;
            // margin-left: 2%;

            #sub-box {
                height: 17px;
                width: 17px;
            }
        }

        .button-wrap {
            display: flex;
            justify-content: center;
            padding-top: 30px;
            .submit-btn {
                border: none;
                padding: 2vh 1.5vh;
                border-radius: 5vh;
                background-color: lightgreen;
                font-size: 3.1vh;
                width: 20vh;
                cursor: pointer;
                margin-bottom: 1%;
            }
        }

        @media (min-width: 570px) {
            max-width: 475px;
        }
    }
    .ps {
        margin-left: 15px;
        sub, p {
            margin: 0 0 5vh 0;
            padding: 0;
            font-size: 2.25vh;
        }
    }

    @media (min-width: 570px) {
        display: flex;
        align-items: center;
        // background-color: rgba(0, 0, 0, 0.575);
        margin-bottom: 10%;
        padding: 3% 0 0 0;
    }
}