@use '../globals/colors' as c;
@use '../globals/variables' as v;
@use '../globals/mixins' as mx;
// APPLY MIXINS



body {
    background-color: darken($color: c.$drkgray, $amount: 20);
    min-height: 100vh;
    .main-content {
        @include mx.flex-column;
        align-items: center;
        height: 30em;
        padding: 3.75em 1em 0 1em;

        h3 {
            margin: 0;
            font-weight: 500;
            &#phrase-text {
                min-height: fit-content;
                height: 4em;
                // max-width: 83%;
                padding: .25em 0 .55em 0;
                font-size: 4.25vh;
                text-align: center;
                color: c.$white;
                // background-color: orangered;

                &.style-phrase {
                    color: black;
                }

                & span {
                    font-variant: small-caps;
                    // font-weight: 500;
                    font-size:7vh;
                    margin: 0;
                    padding: 0;
                }
            }
        }

        & subtitle {
            font-size: 2.5vh;
            color: saturate($color: lighten($color: c.$blue, $amount: 30), $amount: 40) ;
        }

        .text-slide-numbers {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            & label {
                cursor: pointer;
                color: lightgray;
                margin: 0 2vh;
                font-size: 3.3vh;
                margin-top: 3vh;

                &#icon1 {
                    color: c.$gold;
                }
            }
        }
        .main-cta {
            background: c.$gold;
            padding: 2vh 3vh;
            font-size: 3vh;
            font-weight:bold;
            padding: 12px 25px;
            margin: 10vh 0;
            border: none;
            border-radius: v.$border-r;

            a {
                color: c.$black;
            }

        }
    }
    & main {
        flex: 1;
    }
    .subscribe-content {
        margin: 3vh 0;
        cursor: default;

        & p {
            color: c.$white;
            margin: 1vh;
            font-size: 2.25vh;
        }

        .sub-input-box {
            cursor: text;
            display: flex;
            justify-content: space-between;
            padding: 1vh;
            font-size: 2.75vh;
            background-color: c.$white;
            color: lighten($color: c.$drkgray, $amount: 20);
        }
    }
}