@use '../variables' as c;


// set background image
@mixin background {
    @if (c.$bg-img) {
        &#bg-img {
            background: c.$bg-img;
            background-attachment: fixed;
            background-size: cover;

            // create overlay effect
            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                size: cover;
                width: 100%;
                height: 100%;
                z-index: -1; //higher the number, the closer element is to front
                // overlay color
                background: rgba($color: c.$blue, $alpha: .3);
            }
        }
    }
}



* {
    @include background();
}
body {
    background-color: darken($color: c.$drkgray, $amount: 20);
    min-height: 100vh;

    .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            margin: 0;
            font-weight: 500;
            &.sm-heading {
                min-height: 20vh;
                font-size: 4.5vh;
                text-align: center;
                color: c.$white;

                & span {
                    font-variant: small-caps;
                    font-size:7vh;
                    margin: 0;
                    padding: 0;
                }
            }
        }

        & subtitle {
            font-size: 2.5vh;
            color: saturate($color: lighten($color: c.$blue, $amount: 30), $amount: 40) ;
        }

        .text-slide-numbers {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            & label {
                cursor: pointer;
                color: lightgray;
                margin: 0 2vh;
                font-size: 3.3vh;
                margin-top: 3vh;


                &#icon1 {
                    color: c.$gold;
                }
            }
        }
        .main-cta {
            background: c.$gold;
            padding: 2vh 3vh;
            font-size: 3vh;
            font-weight:bold;
            padding: 12px 25px;
            margin: 10vh 0;
            border: none;
            border-radius: c.$border-r;

            a {
                color: c.$black;
            }
        }
    }
    & main {
        flex: 1;
    }
    .subscribe-content {
        margin: 3vh 0;
        cursor: default;

        & p {
            color: c.$white;
            margin: 1vh;
            font-size: 2.25vh;
        }
        .sub-input-box {
            cursor: text;
            display: flex;
            justify-content: space-between;
            padding: 1vh;
            font-size: 2.75vh;
            background-color: c.$white;
            color: lighten($color: c.$drkgray, $amount: 20);
        }
    }
}
/* MEDIA QUERY TO TARGET ASPECT RATIO; FOR KINDLE
 FIRE HDX-LIKE DEVICES */

// MEDIA QUERIE TO PREVENT JUMPING ON SML DEVICES
