@use '../globals/colors' as c;
@use '../globals/variables' as v;

// entire header container
.header {
    margin-bottom: 5.5vh; //maybe change
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vh 0;
    width: 100%;
    max-height: 70px;
    min-height: 50px;
    // position relative so children elements
    // can reference for positioning
    position: relative; // or fixed

    // header displays color when menu icon clicked
    &.show {
        background-color: black;
    }

    // default logo container
    .logo {
        // background-color: grey;
        display: flex;
        align-items: center;
        // font color for elements inside container
        color: c.$white;
        text-decoration: none;
        max-height: 75px;
        min-height: 50px;
        margin-left: 7px;
        margin-top: 10px;
        max-width: 75%;
        min-width: max-content;
        // grow [] size of available space
        // shrinks [] size of available space
        // base size is [] of container
        // growth/shrink is off base size
        flex: 1 1.5 20%;
        font-variant: small-caps;
        cursor: default;

        // logo container restyles exclusive for smaller devices
        // 0-570px
        // @media (max-width: 570px) {
        //     // APPLY SHOW FOR PROPORTIONAL STYLES ON MOBILE
        //     display: flex;
        //     background-color: deepskyblue;
        //     // flex: 1.5 1 30%;
        //     margin-left: 7px;
        // }

        // default logo text
        .brand-text {
            // background-color: darken($color: grey, $amount: 20);
            cursor: pointer;
            font-size: 10vw;
            width: 90%;
            height: 65px;
            display: flex;
            align-items: center;


            // logo text exclusive restyles for larger devices
            @media (min-width: 475px) {
                font-size: 50px;
                margin-left: 15px;
            }
            @media (min-width: 900px) {
                // background-color: dodgerblue;
                font-size: 75px;
                display: flex;
                align-items: center;
                padding-top: 5px;
                height: fit-content;
            }

            // default logo icon
            .logo-icon {
                padding: 0;
                margin: 0 12px 0 0;
                width: 35px;
                max-width: fit-content;
            }
        }
    }
    // default container for desktop navigation menu
    .nav-container {
        // background-color: darkcyan;
        z-index: 5;
        display: flex;
        margin-right: 15px;
        justify-content: center;
        flex: .8 .5 12%;
        width: 500px;
        max-width: 600px;


        // smaller devices makes default nav menu
        // disappear & mobile menu icon appears
        @media (max-width: 570px) {
            & {
                display: none;
            }
            // show styles triggered when mobile menu icon clicked
            &.show {
                display: flex;
                width: 100%;
                position: absolute;
                background-color: black;
                // positioned under the entire header
                // (100% under the parent element/100% from the top of parent)
                top: 100%;
                .nav-menu {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    text-align: center;
                    margin: 0;
                    // mobile nav menu lines
                    .nav-item {
                        padding: 3.5vh 0;
                        border-bottom: 1.5px solid saturate($color: c.$gold, $amount: 15);
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        font-size: 18px;
                    }
                }
            }
        }
        // default/desktop styles of navigation
        .nav-menu {
            // background-color:darkslategray;
            list-style: none;
            margin: 7px 0;
            padding: 0 5px; //removes list indent
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 400px;
            height: 100%;
            flex: 1 .5 20%;            

            // default for nav items 
            .nav-item {
                // display: flex;
                // margin: 0 20px;
                flex: 0 0 auto;
                font-size: 25px;
                align-items: center;

                // default for nav item links
                a {
                    color: c.$white;
                    text-decoration: none;



                    @media (min-width: 770px) {
                        font-size: 30px;
                        // color: deeppink;
                    }
                }
            }
        }
    }
    & .hmbgr-menu {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-radius: v.$border-r;
        height: 65px;
        width: 60px;
        // background-color: turquoise;
        padding: 2px 0;
        margin-right: 5px;
        flex: 0 0 auto;
        cursor: pointer;
        .menu-line {
            display: flex;
            background-color: c.$white;
            height:3px;
            width: 70%;
        }
        #line1, #line3 {
            width: 15%;
        }
        #line1 {
            align-self: flex-start;
        }
        #line3 {
            align-self: flex-end;
        }

        @media (min-width:570px ) {
            & {
                display: none;
            }
        }
    }
    .hmbgr-menu:hover #line1 {
        transform: translateX(100%);
    }
    .hmbgr-menu:hover #line3 {
        transform: translateX(-100%);
    }
    #line1, #line3 {
        transition: .3s ease-in-out;
    }
}