@use '../globals/colors' as c;
@use '../globals/variables' as v;

.header {
    // entire header container
    margin-bottom: 30px; //maybe change
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    width: 100%;
    background-color:rgb(51, 51, 51);

    // position relative so child elements
    // can reference for positioning
    position: relative;

    .logo {
        display: flex;
        align-items: center;
        color: c.$white;
        text-decoration: none;
        background-color: complement($color: rgb(75, 128, 226));
        
        // grow half size of available space
        // shrinks 2x size of available space
        // base size is 20% of container
        // growth/shrink is off base size
        flex: .5 2 20%;

        // sets the fonts size
        // if deleted, font size will default
        // to normalize styles
        .logo-icon {
            font-size: 5vh;
        }
    }

    // container for nav MENU
    .nav-container {
        flex-wrap: wrap;
        background-color: tomato;
        display: flex;

        // grow 1x size of space available
        // will not shrink
        // base size is ????
        flex: 1 0 auto;

        // smaller devices makes default nav menu
        // disappear & mobile menu icon appears
        @media (max-width: 575px) {
            & {
                display: none;
            }

            // show styles triggered when mobile menu
            // icon displayed & clicked
            &.show {
                display: flex;
                width: 100%;
                position: absolute;
                
            // positioned under the entire header
            // (100% under the parent element)
                top: 100%;

                .nav-menu {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;

                    .nav-item {
                        padding: 15px 0;
                    }
                }
            }
        }

        // default/desktop styles of navigation
        .nav-menu {
            list-style: none;
            margin: 3% 0;
            padding: 0 0; //removes list indent
            background-color: darkred;
            display: flex;
            justify-content: space-around;
            flex: 2 0 auto;
            & .nav-item {
                display: flex;
                margin-right: 20px;
                flex: 0 0 auto;

                a {
                    color: c.$white;
                    text-decoration: none;
                }
            }
        }
    }


    & .hmbgr-menu {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border: 2px solid black;
        height:60px;
        width: 60px;
        background-color: turquoise;

        .menu-line {
            display: inline-flex;
            background-color: black;
            width: 70%;
            height:3px;
        }

        @media (min-width:576px ) {
            & {
                display: none;
            }
        }
    }
}