@use '../globals/colors' as c;
@use '../globals/variables' as v;

.header {
    // entire header container
    margin-bottom: 5.5vh; //maybe change
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vh 0;
    width: 100%;
    max-height: 70px;
    min-height: 50px;
    // position relative so children elements
    // can reference for positioning
    position: relative;
    &.show {
        background-color: black;
    }

    // default logo
    .logo {
        display: flex;
        align-items: center;
        color: c.$white;
        text-decoration: none;
        max-height: 75px;
        min-height: 50px;
        margin-left: 20px;
        max-width: 75%;
        // grow [] size of available space
        // shrinks [] size of available space
        // base size is [] of container
        // growth/shrink is off base size
        flex: .5 2 23%;
        font-variant: small-caps;
        cursor: default;

        // logo exclusive restyles for smaller devices
        // 0-570px
        @media (max-width: 570px) {
            // APPLY SHOW FOR PROPORTIONAL STYLES ON MOBILE
            display: flex;
            flex: 1.5 1 30%;
            margin-left: 1.25vh;
        }

        // default logo text
        .brand-text {
            cursor: pointer;
            font-size: 50px;

            // logo text exclusive restyles for smaller devices
            @media (max-width: 570px) {
                font-size: 33px;
            }
        }
    }
    // container for entire navigation menu
    .nav-container {
        display: flex;
        flex: .3 0 20%;

        // smaller devices makes default nav menu
        // disappear & mobile menu icon appears
        @media (max-width: 570px) {
            & {
                display: none;
            }
            // show styles triggered when mobile menu
            // icon displayed & clicked
            &.show {
                display: flex;
                width: 100%;
                position: absolute;
                background-color: black;
                // positioned under the entire header
                // (100% under the parent element/100% from the top of parent)
                top: 100%;
                .nav-menu {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    text-align: center;
                    margin: 0;
                    .nav-item {
                        padding: 3.5vh 0;
                        border-bottom: 1.5px solid saturate($color: c.$gold, $amount: 15);
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        font-size: 18px;
                    }
                }
            }
        }
        // default/desktop styles of navigation
        .nav-menu {
            list-style: none;
            margin: 7px 0;
            padding: 0 0; //removes list indent
            display: flex;
            justify-content: space-around;
            flex: 1.25 .5 15%;
            .nav-item {
                display: flex;
                margin: 0 18px;
                flex: 0 0 auto;
                font-size: 25px;
                a {
                    color: c.$white;
                    text-decoration: none;
                }
            }
        }
    }
    & .hmbgr-menu {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-radius: v.$border-r;
        height: 65px;
        width: 60px;
        // background-color: turquoise;
        padding: 2px 0;
        margin-right: 5px;
        flex: 0 0 auto;
        cursor: pointer;
        .menu-line {
            display: flex;
            background-color: c.$white;
            height:3px;
            width: 70%;
        }
        #line1, #line3 {
            width: 15%;
        }
        #line1 {
            align-self: flex-start;
        }
        #line3 {
            align-self: flex-end;
        }

        @media (min-width:571px ) {
            & {
                display: none;
            }
        }
    }
    .hmbgr-menu:hover #line1 {
        transform: translateX(100%);
    }
    .hmbgr-menu:hover #line3 {
        transform: translateX(-100%);
    }
    #line1, #line3 {
        transition: .3s ease-in-out;
    }
}