@use '../variables' as c;

.header {
    // entire header container
    max-height: 75px;
    margin-bottom: 30px; //maybe change
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 11vh;
    padding: 5px 0;
    .logo {
        display: flex;
        align-items: center;
        color: c.$white;
        padding: 0 2vh;
        max-height: 9vh;
        text-decoration: none;
        .md-heading {
            font-size: 55px;
            font-variant: small-caps;
        }
        .logo-icon {
            font-size: 5vh;
        }
    }
    .nav-container {
        flex-wrap: wrap;
        font-size: 25px;
        max-height: 80px;
        min-width: 310px;
        max-width: 525px;
        margin-right: 1vh;
        // width: 100%;

        .nav-menu {
            list-style: none;
            padding: 0 0; //removes list indent
            max-height: 65px;
            min-height: 30px;
            // background-color: darkred;
            min-width: fit-content;
            max-width: 525px;
            display: flex;
            justify-content: space-between;
            & .nav-item {
                display: inline-block;
                a {
                    color: c.$white;
                    text-decoration: none;
                }
            }
        }
    }
    // default: do not display mobile menu container
    .hmbgr-menu, .menu-line {
        display: none;
        position: relative;
    }
}



// when device width in 0px-770px
@media (max-width: 770px) {    
    .header {
        // smaller logo text size
        & .logo>.md-heading {
            font-size:5vh;
        }
        // nav container disapears to display mobile menu
        .nav-container {
            display: none;
            width: 100%;

            .nav-menu {
                width: 100%;
            }
        }
        .hmbgr-menu {
            display: flex;
            justify-content: center;
            position: absolute;
            cursor: pointer;
            height: 70px;
            width: 70px;
            margin-right: 8px;
            padding: 1vh 0;
            right: 0%;

            // menu lines 
            // heights/widths based on parent container
            & #line1, #line2, #line3 {
                // position: absolute;//
                display: flex;
                background-color: c.$white;
                z-index: 5;
                height: 10%;
            }
            & #line1, #line3 {
                width: 10%;   
            }
            & #line2 {
                width: 80%;
                align-self: center;
            }
            & #line3 {
                align-self: flex-end;
            }
        }




        // hover animation/transition
        .hmbgr-menu:hover #line1 {
            transform: translateX(7px);
            // transform: translateX(30.69px);
        }
        .hmbgr-menu:hover #line3 {
            transform: translateX(-7px);
        }
        #line1, #line3 {
            transition: .3s ease-in-out;
            // transition: 0.5s cubic-bezier(.68,-0.55,.27,1.55);
        }
        &.color {
            background-color: c.$black;
        }
    }

    // clicked triggered styles
    .nav-container.show {
        // display navigation container & menu after
        // mobile menu clicked
        display: flex;
        top: 10%;
        .nav-menu.show {
            position: absolute;
            flex-direction: column;
            font-size: 3vh;
            min-width: 100%;
            margin: 0;
            padding: 1vh 0;
            background-color: c.$black;


            li {
                display: flex;
                // width: 100%;
                background-color: c.$black;
                justify-content: center;
                padding: 3vh 0;
            }
        }
    }
    .hmbgr-menu.show {
        position: absolute;

    }
}